@model Entity.Card

@{
    ViewData["Title"] = "UpdateCard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title" style="text-align: center; font-size: 28px;">Kart Güncelleme</h4>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    <div class="card shadow-sm">
                        <div class="card-header bg-primary text-white text-center">
                            <div class="card-title" style="font-size: 20px;">Kart Bilgileri</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="CardId" />

                            <div class="form-group">
                                <label for="cardName" style="font-size: 16px;">Yeni Kart İsmini Giriniz</label>
                                <input type="text" class="form-control" asp-for="CardName" id="cardname" style="font-size: 16px;">
                            </div>

                            <div class="form-group">
                                <label for="cardQuantity" style="font-size: 16px;">Yeni Kart Stoğunu Giriniz</label>
                                <input type="number" class="form-control" asp-for="CardQuantity" id="cardQuantity" style="font-size: 16px;">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button class="btn btn-success btn-lg" style="font-size: 16px;">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
